@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.language-container {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    margin-top: 100px;
    text-align: center;
}
.language-container p{
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 100px 0;
}
.language-box{
    margin: 100px auto;
    width: 100%;
}

.card-cantainer{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.lang-card{
    width: 250px;
    height: 200px;
    display:inline-block;
}

.lang-card img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.lang-card p{
    font-size: 14px;
}

.color-yellow{
    color: yellow;
}